%a.btn.btn-primary.btn-large{href:"/create"}
  Post a New Blog
- if @recent_posts.any?
  %h2 Update / Delete
  - @recent_posts.each do |blog|
    %ul
      %a{href:"/update/#{blog["id"]}"}
        Update:
        = blog['title'] + " "
      %li.post
        .heading Posting Date & Time:
        = blog['post_time'].to_s.slice(0, 19)
      %li.extract
        = blog['content'].slice(0, 100) + "..."
      %li.post
        .heading Tags:
        = blog['tags'].split(" ").join(" / ")
      %a.delete{href:"/delete/#{blog["id"]}"}
        %p Delete
- else
  %h2 There are no posts at this time.