%h2 Confirm Delete

%form{action:"/delete_verification/#{@blog_to_delete["id"]}", method:"post"}
  %h3 Enter password to verify the deletion:
  %input{type:"text", name:"password" }
  %input{type:"submit"}

%h2
  = @blog_to_delete['title']
%h3
  Posting Date & Time:
  = @blog_to_delete['post_time'].to_s.slice(0, 19)
%h3
  Tags:
  = @blog_to_delete['tags'].split(" ").join(" / ")
%p.content
  = @blog_to_delete['content']
