%h2
  = @blog['title']
%h3
  Posting Date & Time:
  = @blog['post_time'].to_s.slice(0, 19)
%h3
  Tags:
  = @blog['tags'].split(" ").join(" / ")
%p.content
  = @blog['content']


%h3.filter Submit comment:
%form{action:"/comment", method:"post"}
  %h3 Author:
  %input{type:"text", name:"author" }
  %h3 Comment:
  .user_comment
    %textarea{type: "text", name:"content"}
    %input{type: "hidden", name:"blog_id", value:"#{@blog['id']}"}
    %input{type:"submit"}

- if @comments.any?
  %h3 Previous Comments
  - @comments.each do |comment|
    %ul
      %li
        .heading Date & Time:
        = comment['post_time'].to_s.slice(0, 19)
      %li.extract
        = comment['content']
      %li
        .heading Author:
        = comment['author']
- else
  %h3 There are no comments at this time