%p.about A list of all historic posts is below, or use the box provided to filter the list by tag. Click on the blog title to access the full text and please feel free to add comments.
- if @recent_posts.any?
  %form{action:'/list', method:"get"}
    %h3.filter Tag Filter:
    %input.filter{type: "text", name: "tag"}

  %h2 Historic Posts
  - @recent_posts.each do |blog|
    %ul
      %a{href:"/display/#{blog["id"]}"}
        = blog['title']
      %li.post
        .heading Date & Time:
        = blog['post_time'].to_s.slice(0, 19)
      %li
        .heading Extract:
        .extract
          = blog['content'].slice(0, 100) + "..."
      %li.post
        .heading Tags:
        = blog['tags'].split(" ").join(" / ")
- else
  %h2 There are no posts available at this time
